.summaryStatsContainer {
    height: 100%;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    width: 250px;
    margin-top: 10px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    // background-color: #dddddd;
    background-color: #c8c8c8;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;

    font-style: italic;

    // max-width: 50%;
    // font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    // color: white;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}
