.chart {
    grid-area: chart;
    border: 2px solid black;
}

.chartInputs {
    grid-area: chart-inputs;
    border: 2px solid green;
    padding-left: 5%;
}

.outputStatistics {
    grid-area: output-statistics;
    border: 2px solid blue;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "chart"
        "chart-inputs"
        "output-statistics"
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "chart"
            "chart-inputs"
            "output-statistics";
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "chart             chart-inputs"
            "output-statistics output-statistics"
    }
}
